<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission
        android:name="android.permission.MANAGE_ONGOING_CALLS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.PROCESS_OUTGOING_CALLS"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.CALL_COMPANION_APP" />
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.BIND_SCREENING_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CallScreenTheme"
        tools:ignore="Instantiatable,MissingClass"
        tools:targetApi="31">
        <activity
            android:name=".CallScreeningActivity"
            android:exported="false" />
        <activity
            android:name=".PremiumDialogActivity"
            android:exported="false" />
        <activity
            android:name=".SuccesssfullyActivity"
            android:exported="false" />
        <activity
            android:name=".SaveCallThemeActivity"
            android:exported="false" />
        <activity
            android:name=".premiumActivity"
            android:exported="false" />
        <activity
            android:name=".SaveThemeActivity"
            android:exported="false" />
        <activity
            android:name=".DialogActivity"
            android:exported="false" />
        <activity
            android:name=".ScreenThemeActivity"
            android:exported="false" />
        <activity
            android:name=".OnBordingActivity"
            android:exported="false" />
        <activity
            android:name=".Silderctivity"
            android:exported="false" />
        <activity
            android:name=".LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name="com.example.callscreentheme.CallScreeningActivity"
            android:exported="true"
            android:permission="android.permission.BIND_SCREENING_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

    </application>

</manifest>